<!DOCTYPE html>
<html>
<head>
	<title>Password checker test</title>
</head>

<style type="text/css">
	body{
		background-color: olive;
	}
</style>

<body>

<div id="passwords">
	<input type="Password" name="password1" id="password1">
	<p id="p1Error"></p>
	<br>
	<input type="Password" name="password2" id="password2">
	<p id="p2Error"></p>
	<br>
	<button type="submit">Submit</button>
</div>

<script type="text/javascript">
passwords = document.getElementById("passwords")
p1 = document.getElementById("password1")
p2 = document.getElementById("password2")
p1Error = document.getElementById("p1Error")
p2Error = document.getElementById("p2Error")

passwords.addEventListener('input', ()=>{
    if(p1.value.length < 8) p1.setCustomValidity("value should be greater than 8.")
    else p1.setCustomValidity("")
    if(p1.value != p2.value) p2.setCustomValidity("Passwords do not match")
    else p2.setCustomValidity("")
})

function paintErrors(ele, eleError){
    if(!ele.checkValidity()) console.log(`${ele.id} - ${ele.validationMessage}`)
}
</script>

</body>
</html>